<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
        <add name="constr" connectionString="Data Source= 10.15.20.51;Database= Customers; uid=a_devcomdb_prd; Password=Sql@admin; " providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
